<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Grundsteuererklärung</title>
<style>
body
{
text-align:center;
}
</style>
</head>
<body>
<h1>Willkommen zur Grundsteuererklärung.</h1>
<p>Übermitteln Sie bequem alle notwendigen Informationen für Ihre Grundsteuerberechnung an Ihr Finanzamt.</p>
</body>
</html>